body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  /* background: #b9d6f2; */
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  box-sizing: border-box;
  background-color: rgb(36, 36, 26);
}

.container {
  max-width: 700px;
  width: 100%;
  background: #1a384d;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  padding: 30px;
  position: relative;
}
.container .imagen{
  position: absolute;
  border-radius: 75px;
  background-color: #c5d4da;
  top: 70px;
  left: 50px;
  box-shadow: 1px 1px 10px  rgb(61, 236, 134);
}
.imagen img{
  height: 100px;
  
}
h1 {
  text-align: center;
  color: #ffffff;
  margin-bottom: 70px;
}

p {
  text-align: center;
  color: #ffffff;
}

.menu {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Dos columnas */
  gap: 30px;
  width: 96%
  
}


.item {
  width: 100%; /* Antes era 70% */
  text-align: center;
  padding: 9px;
  /* background: #1b1a199f; */
  background-color: #394761;
  border: 1px solid #f3cbe7;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.2s;
  color: whitesmoke;
}

.item:hover {
  background: #1b1a1949;
}

.orden {
  margin-top: 30px;
  background: #f3f2ef;
  padding: 20px;
  border-radius: 10px;
  border-left: 6px solid rgba(0, 0, 0, 0.164);
}

.orden h2 {
  margin-top: 0;
}

.orden ul {
  padding: 0;
  margin: 0;
  list-style: none;
  max-height: 180px;
  overflow-y: auto;
  font-size: 0.9em;
  line-height: 1.4;
}

.orden ul li {
  display: flex;             
  align-items: center;       
  justify-content: space-between;  
  padding: 0px 10px;
  background-color: #cbd8dd;
  margin-bottom: 2px;
  border-radius: 6px;
  height: 23px;
}


.total {
  font-weight: bold;
  font-size: 1.2em;
  margin-top: 10px;
}

.hora {
  margin-top: 5px;
  font-size: 0.95em;
  color: #777;
}

.orden button {
  margin-top: 15px;
  padding: 10px 25px;
  border: none;
  border-radius: 10px;
  font-size: 1em;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  transition: all 0.3s ease;
}
.orden .reiniciar{
  background-color: #383225;
  color: white;
}
.orden .enviar{
  background-color: green;
  color: white;
}
/* 
button:hover {
  background: linear-gradient(to right, #b32222, #911414);
  transform: scale(1.03);
  box-shadow: 0 6px 12px rgba(0,0,0,0.25);
}

button:active {
  transform: scale(0.98);
  box-shadow: 0 2px 4px rgba(0,0,0,0.3);
} */


#cantidadProductos {
  color: black;
  text-align: left;
}

@media (max-width: 768px) {
  .container {
    margin: 20px 0;
    padding: 20px;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 1.5em;
  }

  .item {
    font-size: 0.95em;
    width: 90%;
  }

  button {
    font-size: 0.9em;
  }
}

@media (max-width: 480px) {
  .menu {
    grid-template-columns: 1fr;
  }

  .menu::before {
    display: none;
  }
}
